/* Base.css */
.base-container {
    padding: 20px;
}

.first-container {
    margin-bottom: 20px;
}

.base-modal table {
    width: 100%;
    border-collapse: collapse;
}

.base-modal th, .base-modal td {
    border: 1px solid #ddd;
    padding: 8px;
}

.base-modal th {
    background-color: #f2f2f2;
    text-align: left;
}

.base-modal tr:nth-child(even) {
    background-color: #f9f9f9;
}

.base-modal tr:hover {
    background-color: #ddd;
}
.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.icon-button:hover {
    background-color: #f0f0f0;
}

.edit-button {
    color: #333; 
}
.delete-button {
    color: #dc3545; 
}

/* Registro.css */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  div {
    margin-bottom: 1em;
  }
  
  label {
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #333;
  }
  
  input {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 0.7em;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
/*Inicio*/
.l23 {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #9fb0c9;
}

.title2 {
  font-size: 30px;
  color: #0a0a0a;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 1.2em;
  color: #0e0d0d;
  max-width: 600px;
  text-align: center;
  line-height: 1.5;
}
